Repository OmenApps/django-generate-series: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, ruff, check-toml, check-yaml, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py311-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

Update to reflect recent changes, dates, versions
  docs/conf.py
  docs/contributing.md
  docs/requirements.txt
Due: bandit, ruff, flake8, pyupgrade

Use newer postgres, and remove obsolete version attribute
  docker-compose.yml
Due: check-yaml

Fix casting and name issues identified when moving from psycopg2 to psycopg
  src/django_generate_series/models.py
Due: bandit, ruff, flake8, pyupgrade

Fix for warnings about db access before init
  tests/example/core/apps.py
Due: bandit, flake8, pyupgrade

Uodate tests to use psycopg
  tests/example/core/tests.py
  tests/settings.py
Due: bandit, flake8, pyupgrade

Remove old pylint flags and obsolete models
  tests/example/core/migrations/0004_remove_simpleorder_and_event.py
  tests/example/core/models.py
Due: bandit, flake8, pyupgrade

Major test cleanup/streamline - Remove duplication and obsolete/dead code - Create fixtures - Make sure we test for cartesian product
  tests/conftest.py
  tests/example/core/sequence_utils.py
  tests/example/core/tests.py
Due: bandit, flake8, pyupgrade

Remove old __future__ imports
  manage.py
Due: bandit, ruff, flake8, pyupgrade

Correct note on default_bounds
  README.md
Due: none

Bump version
  pyproject.toml
  uv.lock
Due: check-toml

Update usage examples to be self-contained and reflect recent changes
  docs/usage_examples.md
Due: none

Update year in examples so it's clear the docs are current
  docs/usage_examples.md
Due: none

Update year in README example
  README.md
Due: none

Standardize badges
  README.md
Due: none
